.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App.dark{
  color: white;
  background-color: #333;
}
.App.light{
  color: #000;
  background-color: #fff;
}
.App.pink{
  color: #000;
  background-color: pink;
}
.App.grey{
  color: white;
  background-color: grey;
}